<form method="POST" action="/course/stored" id="courseForm">
  <h2 style="margin-bottom: 32px;" class="alert alert-primary">Thêm khoá học</h2>
  <div class="mb-3 formName">
    <label for="name" class="form-label">Tên khoá học</label>
    <input type="text" class="form-control" name="name" id="name" required />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả khoá học</label>
    <input
      type="text"
      class="form-control"
      name="description"
      id="description"
      required
    />
  </div>
  <div class="mb-3 formLevel">
    <label for="level" class="form-label">Trình độ</label>
    <input type="text" class="form-control" name="level" id="level" />
  </div>
  <div class="mb-3 formVideoId">
    <label for="videoId" class="form-label">VideoId</label>
    <input
      type="text"
      class="form-control"
      name="videoId"
      id="videoId"
      required
    />
  </div>
  <div style="display: flex; gap: 12px;">
    <button type="submit" class="btn btn-primary">Thêm khoá học</button>
    {{#if courses}}
        <a href="/course/createVideo" class="btn btn-success">Thêm video</a>
    {{/if}}
  </div>
</form>